aiomqtt==2.3.0
aiosqlite==0.22.1
APScheduler==3.11.3
fastapi==0.141.1
httpx==0.28.1
mac-vendor-lookup==0.1.15
pydantic-settings==2.15.0
python-multipart==0.0.32
scapy==2.7.0
SQLAlchemy==2.0.52
uvicorn==0.52.4
zeroconf==0.150.5
